

#novbar li {
    float: left;

}


#novbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(304, 54%, 5%);
    position: fixed;
  top: 0;
  width: 100%;
}
#novbar li a:hover:not(.active) {
    background-color: #46d715;
  }
  
  #novbar.active {
    background-color: #04AA6D;
  
}
  
  #novbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  section  {
margin: 30px;
padding: 35px;
 }
 
 section a  {
    
text-align:center;
text-decoration: solid;
 }

 p1,p2 {
  display: block;
  margin: auto;
  text-align: center;

 }
 b { 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1435ac;
  
 }
  /* Change the link color to #111 (black) on hover */
 li a:hover {
    background-color: #111;
  }
  
  a {
    display: block;
    padding: 8px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
  }
  img {
    height: 400;
    width : 400;
    display: block;
  margin: auto;

    border-radius: 10px;
    border: 5px solid rgb(49, 49, 51);

  }
  iframe {

    height: 400;
    width : 400;
    display: block;
  margin: auto;

    border-radius: 10px;
    border: 5px solid rgb(49, 49, 51);

  }

  form{

    height: 400;
    width : 400;
    display: block;
    margin: auto;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
 
  h2 {
    color: rgb(208, 190, 209);
    background-attachment: fixed;
  }
  body { background-color: #c4dfe3; s
        font-family: 'Roboto';
        font-size: 22px;
    }
  